extends layoutApp

block content
    script#headerTemplate(type='text/template')
        div.wrap_btn
            a.user-exit(href='#', id='user-logout', onclick='$("<form method=POST action=/logout>").appendTo("body").submit();return false')
                | Выход
        nav
            ul.top-menu
                li
                    a(href='#')
                        img(src='img/logo.png')
                li.active
                    a.panel(href='#')
                        | Панель управления
                li
                    a.account(href='#')
                        | Аккаунт
                li
                    a.statistics(href='#')
                        | Статистика

    script#subMenuTemplate(type='text/template')
        li Панель управления
        li.one
            a.menu-map(href='#map') Карта
        li.two
            a.menu-object(href='#objects') Объекты
        li.three
            a.menu-geozone(href='#geozones') Геозоны
        li.four
            a.menu-tracker(href='#trackers') Трекеры

    script#mapTemplate(type='text/template')
        .map-header
            .object-on-map
                span.user-block
                    a.close-user(href='#')
                    | Федя
                span.user-block.one
                    a.close-user(href='#')
                    | Тёма
                span.user-block.two
                    a.close-user(href='#')
                    | Оля
                span.auto
                span#map_slider_open +
            span.title-map-header Объекты на карте:
        .place-map
            .map
                iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%93%D0%BE%D1%80%D0%B5%D1%86%D0%BA%D0%BE%D0%B3%D0%BE,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C&aq=1&oq=%D0%93%D0%BE%D1%80%D0%B5%D1%86&sll=53.800651,-4.064941&sspn=11.357702,33.815918&ie=UTF8&hq=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%93%D0%BE%D1%80%D0%B5%D1%86%D0%BA%D0%BE%D0%B3%D0%BE,&hnear=Minsk,+Belarus&t=m&ll=53.888154,27.501869&spn=0.097124,0.219727&z=12&output=embed')
            .tab-on-map.hide-tab-content
                ul#object-detail
                    li#information.selected
                        a(href='#', data-linked='#data-information') Информация
                    li#action-log
                        a(href='#', data-linked='#data-action-log') Журнал действий
                    li#notification
                        a(href='#', data-linked='#data-notification') Оповещения
                #data-information.tab-for-detail
                    a.hide-tab(href='javascript:void(0)') Скрыть
                    .img-tab
                        img(src='img/pict/photo.png', alt='')
                    h2 Жена
                    .tab-content.nano
                        .content
                            p
                                | Последнее обновление информации:
                                span 21.05.2013 в 19:00
                            .item-box
                                p Скорость
                                span.green.speed
                                    | 7
                                    i km/h
                            .item-box
                                p Уровень сигнала
                                span.green.signal
                                    | 60%
                            .clear
                            .item-box
                                p Заряд батареи
                                span.green.low.battery
                                    | 20%
                            .item-box
                                p GPRS
                                span.green.gprs
                                    | ON
                            .clear
                            .item-box
                                p Скорость
                                span.green.low.speed
                                    | 0
                                    i km/h
                            .item-box
                                p Уровень сигнала
                                span.green.low.signal
                                    | 20%
                            .clear
                            .item-box
                                p Заряд батареи
                                span.green.battery
                                    | 80%
                            .item-box
                                p GPRS
                                span.green.low.gprs
                                    | OFF
                #data-action-log.tab-for-detail(style='display: none;')
                    | the second tab
                    br
                    a.hide-tab(href='javascript:void(0)') Скрыть
                #data-notification.tab-for-detail(style='display: none;')
                    | the third tab
                    br
                    a.hide-tab(href='javascript:void(0)') Скрыть

    script#objectsTemplate(type='text/template')
        div.object-header
            a#add-new-object Добавить новый объект
        div.object-content
            ul.wrap-list-object
                li
                    a.delete-object
                    p Жена
                    div.wrap-img-object
                        img(src="img/pict/photo.png" alt='')
                    div.wrap-btn
                        a.map-link(href="#")
                        a.panel-link(href="#")
                        a.statistics-link(href="#")
                li.list-new-object
                    p Новый объект
                    div.wrap-img-object
                        a.add-new-object Добавить новый объект
        div.object-info
    script#geoZonesTemplate(type='text/template')
        div.geo-zones-block Geo-Zones

    script#trackersTemplate(type='text/template')
        div.trackers-block Trackers

    script#mapSliderTemplate(type='text/template')
        #add-tracker.slider-body.slider-map
            h2 Добавление нового трекера
            p
                | На этой странице вы можете добавить новое трекерное устройство. Все поля обязательны для заполнения.
            .form-row
                label Модель трекера
                select.select
                    option
                            | Huawei 0223422
                        option
                            | Huawei 0223422
                        option
                            | Huawei 0223422
            .form-row
                label Серийный номер трекера
                input.txt(type='text', placeholder='2387643534534534')
            .form-row
                label Имя нового трекера
                input.txt(type='text', placeholder='Трекер для сына')
            .form-row
                label Мобильный номер SIM карты
                input.txt(type='text', placeholder='+375257923456')
            .btn-box
                a.btn01(href='#', data-value="Добавить")
                a.btn02(href='#', data-value="Отменить")
            .slider-close
    script#objectSliderTemplate(type='text/template')
        #add-tracker.slider-body.slider-object
            h2 Добавление нового объекта
            p
                | На этой странице вы можете добавить новый объект. Выберите тип Пага и заполните соответствующие поля.
            .form-row.clear-fix
                label Тип Пага
                .form-row.radio-wrap
                    input#mobile-pug.radio(type='radio', name='pug')
                    label.radio-label(for="mobile-pug")
                        | Мобильное приложение
                    input#tracker-pug.radio(type='radio', name='pug' checked)
                    label.radio-label(for="tracker-pug")
                        | Трекер
            .form-row.clear-fix
                .form-cell
                    label Трекер
                    select.select
                        option
                            | Huawei 0223422
                        option
                            | Huawei 0223422
                        option
                            | Huawei 0223422
                .form-cell
                    label Тип оъекта
                    select.select
                        option
                            | Машина
                        option
                            | Человек
                        option
                            | Животное
            .form-row.clear-fix
                .form-cell
                    label Имя объекта
                    input.txt(type='text', placeholder='Муж')
                .form-cell
                    label Имя объекта
                    .picker-wrap.clear-fix
                        input#hexVal.txt(type='text', placeholder='Выберите цвет')
                        .preview
                        .colorpicker
                            canvas#picker(var="1" width="281" height="278")

            .btn-box
                a.btn01(href='#', data-value="Добавить")
                a.btn02(href='#', data-value="Отменить")
            .slider-close
    script#validationMessage(type='text/template')
        ul.wrap-list
            <% _.each(errors, function(val){ %>
            li <%= val%>
            <% }); %>
        a.close-message(href='javascript: void(0)')
