!!! 5
html
    head
        meta(charset='utf-8')
        title PuG
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/nanoscroller.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        .wrapper
            .container-fluid
                header.header
                .page-content
                    ul.sub-menu
                    .map-block
        #add-tracker.slider-body
            h2 Добавление нового трекера
            p
                | На этой странице вы можете добавить новое трекерное устройство. Все поля обязательны для заполнения.
            .form-row
                label Модель трекера
                input.txt(type='text', placeholder='Huawei 12387643 Lorem Ipsum')
            .form-row
                label Серийный номер трекера
                input.txt(type='text', placeholder='2387643534534534')
            .form-row
                label Имя нового трекера
                input.txt(type='text', placeholder='Трекер для сына')
            .form-row
                label Мобильный номер SIM карты
                input.txt(type='text', placeholder='+375257923456')
            .btn-box
                a.btn01(href='#') Добавить
                a.btn02(href='#') Отменить
            .slider-close

        script(src='js/libs/jquery.js')
        script(src='js/libs/bootstrap.min.js')
        script(src='js/libs/jquery.nanoscroller.js')
        script(src='js/libs/html5shiv.js')
        script(src='js/libs/underscore.js')
        script(src='js/libs/backbone.js')

        script(src='js/app/main/main.js')
        script(src='js/app/main/views/baseView.js')
        script(src='js/app/main/views/HeaderView.js')
        script(src='js/app/main/views/SubMenuView.js')
        script(src='js/app/main/views/MapView.js')
        script(src='js/app/pug.actions.js')

        script(type='text/javascript')
            $(document).ready(function() {
                $('.place-map').height($('.wrapper').height() - $('header').height()-71);
                $('.map').height($('.place-map').height());
                $('.nano').nanoScroller();
                //place-map
            });
        block content