doctype html
html
  head

    link(rel='stylesheet', href='/css/ie_style.css')
    link(rel='stylesheet', href='/css/nanoscroller.css')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')

    meta(charset='utf-8')
    title= title
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='favicon.ico')
  body
    header
        .logo
           a(href='#')
            img(src='img/logo.png')
    #message-error
    #message-info
    block content

    footer
    script(src='js/libs/jquery.js')
    script(src='js/libs/underscore.js')
    script(src='js/libs/backbone.js')
    script(src='js/libs/backbone.validation.js')
    script(src='js/app/auth/main.js')

    script(src='js/app/auth/models/userModel.js')
    script(src='js/app/auth/models/userLoginModel.js')


    script(src='js/app/auth/views/baseView.js')
    script(src='js/app/auth/views/ValidationMessage.js')
    script(src='js/app/auth/views/loginView.js')
    script(src='js/app/auth/views/registerView.js')