!!! 5
html
    head
        meta(charset='utf-8')
        title PuG
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/nanoscroller.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        .wrapper
            .container-fluid
                header.header
                .page-content
                    ul.sub-menu
                    .map-block
        .slider-block

        script(src='js/libs/jquery.js')
        script(src='js/libs/bootstrap.min.js')
        script(src='js/libs/jquery.nanoscroller.js')
        script(src='js/libs/html5shiv.js')
        script(src='js/libs/underscore.js')
        script(src='/socket.io/socket.io.js')
        script(src='js/libs/backbone.js')

        script(src='js/app/main/main.js')
        script(src='js/app/main/views/baseView.js')
        script(src='js/app/main/views/HeaderView.js')
        script(src='js/app/main/views/SubMenuView.js')
        script(src='js/app/main/views/MapSliderView.js')
        script(src='js/app/main/views/MapView.js')
        script(src='js/app/main/views/ObjectsView.js')
        script(src='js/app/main/views/GeoZonesView.js')
        script(src='js/app/main/views/TrackersView.js')
        script(src='js/app/pug.actions.js')

        script(type='text/javascript')

        block content