script#objectsTemplate(type='text/template')
    div.object-header
        a#add-new-object Добавить новый объект
    div.object-content
        ul.wrap-list-object
            li
                a.delete-object
                p Жена
                div.wrap-img-object
                    img(src="img/pict/photo.png" alt='')
                div.wrap-btn
                    a.map-link(href="#")
                    a.panel-link(href="#")
                    a.statistics-link(href="#")
            li.list-new-object
                p Новый объект
                div.wrap-img-object
                    a.add-new-object Добавить новый объект
    div.object-info

script#objectSliderTemplate(type='text/template')
    #add-object.slider-body.slider-object
        h2 Добавление нового объекта
        p
            | На этой странице вы можете добавить новый объект. Выберите тип Пага и заполните соответствующие поля.
        .form-row.clear-fix
            label Тип Пага
            .form-row.radio-wrap
                input#mobile-pug.radio(type='radio', name='pug', value="application", checked)
                label.radio-label(for="mobile-pug")
                    | Мобильное приложение
                input#tracker-pug.radio(type='radio', name='pug', value="tracker")
                label.radio-label(for="tracker-pug")
                    | Трекер
        .form-row.clear-fix
            .form-cell
                label Приложение
                select.select(name="application")
                    option(value="1")
                        | Приложение 1
                    option(value="2")
                        | Приложение 2
                    option(value="3")
                        | Приложение 3
            .form-cell
                label Тип объекта
                select.select(name="objectType")
                    option(value="Машина")
                        | Машина
                    option(value="Человек")
                        | Человек
                    option(value="Животное")
                        | Животное
        .form-row.clear-fix
            .form-cell
                label Имя объекта
                input.txt(type='text', placeholder='Имя', name="objectName")
            .form-cell
                label Цвет объета
                .picker-wrap.clear-fix
                    input#hexVal.txt(type='text', placeholder='Выберите цвет', name="color")
                    .preview
                    .colorpicker
        .add-photo
            .form-row.clear-fix
                label Фотография объекта
                .wrap-photo
                    canvas#object-photo
                    canvas#empty-canvas
                .wrap-photo-btn
                    label
                        input#fileName(type="text", value="Выбрать фотографию")
                        input#photo-upload(type="file")
                    button#remove-photo-btn(style="display: none;") Удалить фотографию
        .btn-box
            a.btn01(href='#', data-value="Добавить")
            a.btn02(href='#', data-value="Отменить")
        .slider-close
script#imageCropTemplate(type='text/template')
    .wrap-crop.clear-fix
        a.close
        h2 Редактирование фотографии
        .wrap-block-crop.clear-fix
            .block-crop(data-value="Выберите необходимую область фотографии")
                img#crop-image(src='' alt="")
            .block-prev(data-value="Предварительный просмотр")
                .wrap-img-prev
                    canvas#crop-preview
        a.btn01(href='#', data-value="Сохранить")
        a.btn02(href='#', data-value="Отменить")

script#colorPickerTemplate(type='text/template')
    canvas#picker(width="281" height="278")