doctype html
html
    head
        meta(charset='utf-8')
        title PuG
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='favicon.ico')

        link(rel='stylesheet', href='/css/nanoscroller.css')
        link(rel='stylesheet', href='/css/select2.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='js/app/libs/require/require.js', data-main='js/app/main')

    body
        .wrapper
            .container-fluid
                header.header
                .page-content
                    ul.sub-menu
                    .map-block
            #slider-block
        #message-error
        #message-info
        #popup

        block content